h2 {color: red;}
h3 {color:deeppink}
h4 {color:darkgreen}
h5 {color:blue}
h6 {color: brown}
h1 {color:yellow; }
p {font-size: 200%;}
#mario {margin-left:80%;}
h2{margin-left:40%;}
#mario{margin-left:70%;}
h3 {margin-left:40%;}
#mario{margin-left:70%;}
h4{margin-left:40%;}
#mario{margin-left:70%;}
h5{margin-left:40%;}
#mario{margin-left:70%;}
h6{margin-left:40%;}
#mario{margin-left:70%;}
#mario{width: 30%;}
#mario{width: 30%;}
#mario{width:30;}
#mario{width:50%;}
h2{font-size:200%;}
h3{font-size:200%;}
h4{font-size:200%;}
h5{font-size:200%;}

