h2 {color: red;}
h3 {color:deeppink}
h4 {color:darkgreen}
h5 {color:blue}
h6 { color: brown}
#mario {margin-left:70%;}
h2{margin-left:150%;}
#m1{margin-left:150%;}
h3 {margin-left:150%;}
#pr{margin-left:150%;}
h4{margin-left:150%;}
#bs{margin-left:150%;}
h5{margin-left:150%;}
#cog{margin-left:150%;}
h6{margin-left:150%;}
#gorila{margin-left:150%;}
#gorlila{width: 100%;}
#cog{width: 100%;}
#pr{width:10%0;}
#m1{width:250%;}
h2{font-size:250%;}
h3{font-size:250%;}
h4{font-size:250%;}
h5{font-size:250%;}
h6{font-size:250%;}