h2 {color: red;}
h3 {color:deeppink}
h4 {color:darkgreen}
h5 {color:blue}
h6 { color: brown}
#mario {margin-left:50%;}
h2{margin-left:85%;}
#m1{margin-left: 85%;}
h3 {margin-left: 50%;}
#pr{margin-left: 20%;}
h4{margin-left: 65%;}
#bs{margin-left: 80%;}
h5{margin-left: 80%;}
#cog{margin-left: 80%;}
h6{margin-left: 80%;}
#gorila{margin-left: 80%;}
#gorlila{width: 10%;}
#cog{width: 10%;}
#pr{width: 10%;}
#m1{width: 10%;}
h2{font-size:200% ;}
h3{font-size: 200%;}
h4{font-size: 200%;}
h5{font-size: 20%;}
h6{font-size: 200%;}